@import "../styles/settings/globals";

main {
  height: 100vh;
}

.container-wrapper {
  display: flex;
  justify-content: center;

  .container {
    flex-basis: 100%;

    @include breakpoint($smBreakpoint) {
      flex-basis: 540px;
    }

    @include breakpoint($mdBreakpoint) {
      flex-basis: 720px;
    }

    @include breakpoint($lgBreakpoint) {
      flex-basis: 1140px;
    }

    @include breakpoint($xlBreakpoint) {
      flex-basis: 1140px;
    }

    & > h1 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 32px;

      @include breakpoint($mdBreakpoint) {
        font-size: 32px;
      }

      @include breakpoint($lgBreakpoint) {
        text-align: left;
      }
    }
  }
}
