@import "../../styles/settings/globals";

.pokemon-details-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 32px;

  @include breakpoint($mdBreakpoint) {
    padding: 0;
  }

  .title-wrapper {
    border-bottom: 1px $gray-color solid;
    margin-bottom: 24px;
  }

  .pokemon-name-wrapper {
    text-transform: capitalize;
  }

  .pokemon-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint($mdBreakpoint) {
      justify-content: flex-start;
      flex-direction: row;
    }

    .image-outer-wrapper {
      display: flex;
      flex-basis: 100%;
      justify-content: center;

      .image-wrapper {
        flex-basis: 100%;
        margin-bottom: 24px;
        max-width: 330px;
        height: 290px;

        img {
          height: 290px;
        }

        @include breakpoint($mdBreakpoint) {
          height: 290px;
          flex-basis: 100%;
        }
      }
    }

    .description-wrapper {
      flex-basis: 100%;
      @include breakpoint($mdBreakpoint) {
        margin-top: 16px;
      }

      .badge-wrapper {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 16px;

        app-ui-badge {
          margin-right: 8px;
        }
      }

      .stats-row-wrapper {
        display: flex;
        flex-basis: 370px;
        justify-content: space-between;
        margin-top: 16px;

        .stats-inner-wrapper {
          // flex-basis: 90px;
          flex-basis: 140px;
          margin-bottom: 16px;

          @include breakpoint($mdBreakpoint) {
            flex-basis: 160px;
          }

          @include breakpoint($lgBreakpoint) {
            flex-basis: 260px;
          }

          p {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
