@import "../../styles/settings/globals";

.pokemon-details-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 32px;

  @include breakpoint($mdBreakpoint) {
    padding: 0;
  }

  .title-wrapper {
    border-bottom: 1px $gray-color solid;
    margin-bottom: 24px;
  }

  .pokemon-name-wrapper {
    text-transform: capitalize;
  }

  .pokemon-details-wrapper {
    display: flex;
    flex-direction: column;

    @include breakpoint($mdBreakpoint) {
      justify-content: center;
    }

    .image-outer-wrapper {
      display: flex;
      flex-basis: 100%;
      justify-content: center;

      .image-wrapper {
        // height: 420px;
        flex-basis: 100%;
        margin-bottom: 24px;
        max-width: 330px;

        img {
          height: 290px;
        }

        @include breakpoint($mdBreakpoint) {
          flex-basis: 100%;
        }
      }
    }

    .description-wrapper {
      flex-basis: 100%;
    }
  }
}
