@if(!isloading) {
<div
  [routerLink]="['/pokemon', pokemonData?.name]"
  [className]="(index + 1) % 3 === 2 ? 'card center-card' : 'card'"
>
  <div class="details">
    <p
      class="pokemon-name"
      [title]="pokemonData!.name"
      [textContent]="pokemonData!.name"
    ></p>

    <div
      [className]="
        pokemonData!.types.length === 1
          ? 'badge-wrapper center'
          : 'badge-wrapper'
      "
    >
      @for (type of pokemonData!.types; track type.type.name) {
      <span
        class="badge"
        [class]="type.type.name"
        [textContent]="type.type.name"
      ></span>
      }
    </div>
    <div class="stats-outer-wrapper">
      <div class="stats-inner-wrapper">
        <div class="circle">
          <span [textContent]="pokemonData!.attack.base_stat"></span>
        </div>
        <span>Attack</span>
      </div>

      <div class="stats-inner-wrapper">
        <div class="circle def">
          <span [textContent]="pokemonData!.defense.base_stat"></span>
        </div>
        <span>Defense</span>
      </div>
    </div>
  </div>
  <div
    [class]="mainType"
    class="sprite"
    [style]="'background-image: url(' + pokemonData!.background + ')'"
    alt=""
  ></div>
</div>
} @else {
<div [className]="(index + 1) % 3 === 2 ? 'card center-card' : 'card'">
  <ngx-skeleton-loader
    class="skeleton"
    [theme]="{ height: '100%' }"
    appearance="line"
    count="1"
  />
</div>
}
